<%= form_for(@task) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

	<ul>
		<% @task.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>  
<body class="purple">
	<div class="container">

		<div class="row">
			<nav class="navbar navigation">
				<div class="flex-container pull-right">
					<div class="flex-item">
						<div class="nav navbar-nav">
							<%= render 'buttons' %>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		<div class="row">
			<div class="col-sm-12 text-center title-text">
				<span class="title">Kolosek<span class="titlelight">Notify</span></span>
			</div>
		</div>
		<div class="row title-text top">
			<div class="col-sm-12 text-center title">
				<span class="titlelight">We monitor webpages so you don't have to!</span>
			</div>
			<div class="col-sm-12 title">
				<span class="subtitlelight">Enter the URL of the webpage you want to monitor. We'll send You an email when we find a keyword</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default login-panel top">
					<div class="panel-body">   
						<div class="col-sm-12">
							<div class="row inputgroup">
								<%= f.text_field :url, type: "text", class: "inputfield", placeholder: 'Enter website URL, e.g. http://www.google.com', required: "true" %>
							</div>
							<div class="row inputgroup">
								<%= f.text_field :words, type: "text", class: "inputfield", placeholder: 'Keywords (separated by a semicolon)', required: "true" %>
							</div>
							<div class="row inputgroup">
								<%= f.text_field :email, type: "email", class: "inputfield", placeholder: 'Your e-mail address', required: "true" %>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center">
									<%= f.submit "Submit tracking!", :class => 'btn btn-md loginbtn center' %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<div class="row title-text">
			<div class="col-sm-12 text-center title">
				<span class="subtitletiny">We will keep your email secret and free of spam: it's a promise!</span>
			</div>
		</div>
	</div>

</body>