<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th style="text-align:center;">Url</th>
      <th style="text-align:center;">Words</th>
      <th style="text-align:center;">Status</th>
      <th style="text-align:center;">Delete</th>
      <th style="text-align:center;"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr id="task_row">
      <th scope="row"><%= task.id %></th>
      <td><%= link_to task.url,task_path(task),:method => :get %></td>
      <td><%= task.words %></td>
      <td><%= task.status_name %></td>
      <td><%= button_to('Delete', task_path(task),:method => :delete,:class =>'delete',:remote=> true) %></td>
      <td><%= task.toggle_buttons %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New task', root_path, {class: "btn btn-lg btn-success"} %>
<%= link_to('Sign out', destroy_user_session_path,class: "btn btn-lg btn-primary", :method => :delete) %>