<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th style="text-align:center;">Url</th>
      <th style="text-align:center;">Words</th>
      <th style="text-align:center;">Status</th>
      <th style="text-align:center;">Delete</th>
      <th style="text-align:center;"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <th scope="row"><%= task.id %></th>
      <td><%= task.url %></td>
      <td><%= task.words %></td>
      <td id="<%= task.id %>"><%=task.task_status%></td>
      <td><%= button_to('Delete', task_path(task),:method => :delete) %></td>
      <td><%= button_to('On',task_update_path(task),:method => :put,:class => 'task_completed',:id => 'toggle_button')%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New task', root_path, {class: "btn btn-lg btn-success"} %>
<%= link_to('Sign out', destroy_user_session_path,class: "btn btn-lg btn-primary", :method => :delete) %>
<script type="text/javascript">
  $('#toggle_button').click(function(){
     var $this=$(this);
     $this.val("Off");
 });
</script>