<body style="background-color:#419CD9">
	<div class="text-center" style="padding-top:140px">
		<font color="white"> 
			<h1>List of your tasks: </h1>
		</font>
		<div class="row">
			<div class="col-md-3">
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<% @tasks.each do |task| %>
						<li><%= task.url %></li>
						<span id="<%= task.id %>"><%= task.completed %></span>
						<%= link_to('Delete', task_path(task),:method => :delete) %>
						<% if task.completed == false %>
						<%= link_to('On',task_update_path(task),:method => :put,:class => 'task_completed' )%>
						<% else %>
						<%= link_to('Off',task_update_path(task),:method =>:put,:class => 'task_not_completed') %>
						<% end %>
						<% end %>
						<br/>
						<%= link_to 'New Notification', root_path, {class: "btn btn-lg btn-success"} %>
						<%= link_to('Sign out', destroy_user_session_path,class: "btn btn-lg btn-primary", :method => :delete) %>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
</body>