<body style="background-color:#419CD9">
	<div class="text-center" style="padding-top:100px">

		<font color="white"> 
			<h1>Task details</h1>
		</font>
		<div class="row">
			<div class="col-md-3">
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							<strong>Url:</strong>
							<%= @task.url %>
						</p>

						<p>
							<strong>Words:</strong>
							<%= @task.words %>
						</p>

						<p>
							<strong>Email:</strong>
							<%= @task.email %>
						</p>

						<p>
							<strong>Status:</strong>
							<%= @task.status_name %>
						</p>
						<%= link_to 'New Notification', root_path, {class: "btn btn-lg btn-success"} %>
						<%= link_to 'Dashboard', tasks_path,{class: "btn btn-lg btn-success"} %>
						<%= link_to 'Edit', edit_task_path,{class: "btn btn-lg btn-info"} %>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>