<body style="background-color:#419CD9">
	<div class="text-center" style="padding-top:100px">

		<font color="white"> 
			<h1>Your task tracking is now active!</h1>
			<h2>You'll get notification as soon as Fetch detects a change!</h2>
		</font>
		<div class="row">
			<div class="col-md-3">
			</div>

			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-body">
						<p>
							<strong>Url:</strong>
							<%= @task.url %>
						</p>

						<p>
							<strong>Words:</strong>
							<%= @task.words %>
						</p>

						<p>
							<strong>Email:</strong>
							<%= @task.email %>
						</p>

						<p>
							<strong>Completed:</strong>
							<%= @task.completed %>
						</p>
						<%= link_to 'New Notification', root_path, {class: "btn btn-lg btn-success"} %>
						<%= link_to 'Tasks', tasks_path,{class: "btn btn-lg btn-success"} %>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>