    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <body class="purple">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 sign-form">
            <h1 class="title">Kolosek<span class="titlelight">Notify</span></h1>
            <div class="signbox">
              <div class="input-group">
                 <%= f.label :email, :class=> "label"%><br />
                 <%= f.email_field :email, autofocus: true, :class=> "field" %>
              </div>
              <div class="input-group">
              <%= f.label :password, :class=> "label" %><br />
              <%= f.password_field :password, autocomplete: "off", :class=> "field"%>
              </div>
              <% if devise_mapping.rememberable? -%>
              <div class="check">
              <%= f.check_box :remember_me, :class => "checkbox" %>
              <%= f.label :remember_me, :class => "label" %>
             </div>
             <% end %>
            <%= f.submit "Log in",class: "button" %>
             <div class="forgotpass"><a href="#" class="link">Forgot your passsword?</a></div>
           </div>
         </div>
         <% end %>

       </div>

     </div>

   </body>


